{% load static %}

    <!-- nav -->

    <nav class="Mainnav row">

        
            <div class="brand col-3">
                <a href=" {% url 'index' %} ">
                    <img class="logo" src="{% static 'img/logo.png' %}" alt="">
                </a> 
                <!-- <p> Sapphire </p> -->
            </div>
        
        

         <!-- types -->
        <div class="types-box col-6">
            <ul class="types">
                <li>
                    Branding
                </li>
                <li>
                    Tshirt
                </li>
                <li>
                    illustration
                </li>
                <li>
                    others
                </li>
            </ul>
        </div>

        <div class="order col-3">
            <a href=" {% url 'order' %} " class="order-btn ">ORDER</a>
        </div>
      
    </nav>

<!-- end nav -->