{% load static %}

    <!-- nav -->
    <header>
        <!-- logo -->
        <div class="brand">
            <a href=" {% url 'index' %} ">
                <img class="logo" src="{% static 'img/logo.png' %}" alt="">
            </a> 
            <p> <b>Senper</b> Graphics </p>
        </div>
        
        <nav class="Mainnav">
            <div class="order ">
                <a href="{% url 'order' %}">
                    <button class="nav-btn-order"  >
                        Order
                    </button>
                </a>

                <a href="{% url 'about' %}">
                    <button class="nav-btn-about"  >
                        About Us
                    </button>
                </a>
            </div>
        </nav>

    </header>

  

<!-- end nav -->