{% load static %}

    <!-- nav -->

    <nav class="Mainnav">

        
            <div class="brand">
                <a href=" {% url 'index' %} ">
                    <img class="logo" src="{% static 'img/logo.png' %}" alt="">
                </a> 
                <!-- <p> Sapphire </p> -->
            </div>

            <div class="order ">

                <a href="{% url 'order' %}">
                    <button class="btn-auth"  >
                        Order
                    </button>
                </a>

                <a href="{% url 'about' %}">
                    <button class="btn-auth"  >
                        About Us
                    </button>
                </a>
              
            </div>
        
        

         <!-- types -->
        <!-- <div class="types-box col-6">
            <ul class="types">
                <li>
                    <a href=" {% url 'tutorials' %} ">
                        courses
                    </a>
                </li>
                <li>
                    Tshirt
                </li>
                <li>
                    illustration
                </li>
                <li>
                    others
                </li>
            </ul>
        </div> -->

        
      
    </nav>

<!-- end nav -->