{% extends 'base.html' %}
 {% load static%}
{% block content %}

    <div class="tutorials">
        {% if tutorial %}
        <div class="tutorial-main">
            <iframe 
            width="812" 
            height="457" 
            src=" {{ tutorial.course }} " 
            frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
            </iframe>
        </div>
        {% endif %}
        <div class="tutorials-side">

            {% if Tutorials %}
                {% for tutorial in Tutorials %}
                 <a href=" {% url 'tutorial' tutorial.id %} ">
                    <iframe 
                    width="4cm" 
                    height="auto"
                    src="{{ tutorial.course }}" 
                    frameborder="0" 
                    allow="accelerometer;  encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                    </iframe>
                 </a>
                    
                    <!-- <h5>{{ Tutorial.course_name }}</h5> -->
                {% endfor %}
            {% else %}
                    <h2>no more tutorial</h2>
            {% endif %}

        </div>
    </div>


{% endblock %}