{% extends 'base.html' %}
 {% load static%}
{% block content %}

    <div class="tutorials">
        {% if tutorial %}
        <div class="tutorial-main">
            <iframe 
            width="812" 
            height="457" 
            src=" {{ tutorial.course }} " 
            frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
            </iframe>

            <h3> {{ tutorial.course_name }} </h3>
        </div>
        {% endif %}
        <div class="tutorials-side">

            {% if Tutorials %}
                {% for tutorial in Tutorials %}
                 <a href=" {% url 'tutorial' tutorial.id %} ">
                    <div class="thumbnail">
                        <img src="{{ tutorial.thumbnail.url }}" alt=" thumbnail ">
                        <p> {{ tutorial.course_name }} </p>
                    </div>
                 </a>
                    
                    <!-- <h5>{{ Tutorial.course_name }}</h5> -->
                {% endfor %}
            {% else %}
                    <h2>no more tutorial</h2>
            {% endif %}

        </div>
    </div>


{% endblock %}