{% extends 'base.html' %}

{% block content %}

    <div class="order-form-container" >
        <div class="order-head">
            Your Order
        </div>
        <form class="order-form">
            <input class="login-email" type="text" placeholder="Item"></input>
            <input class="login-password" type="text" placeholder="Client"></input>
            <input class="login-password" type="text" placeholder="Phone NO."></input>
            <input class="login-password" type="email" placeholder="email"></input>
            <input class="login-password" type="textfield" placeholder="description"></input>
        </form>
    </div>

{% endblock %}